<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar meno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}">
</head>
<body>
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                <h3>Actualizacion de Productos</h3>
                <form action="/actualizarm/{{UpdMenu.0}}" method="post">
                    <div class="input-box">
                        <input type="text" name="txtID" placeholder="ID" class="input-control" value="{{UpdMenu.0}}" readonly required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="txtPlatillo" placeholder="Platillo" class="input-control" value="{{UpdMenu.1}}" readonly required>
                    </div>
                    <div class="input-box">
                        <input type="text" Name="txtPrecio" placeholder="Precio" class="input-control" value="{{UpdMenu.2}}" required>
                    </div>
                    
                    <button type="submit" class="btn">Actualizar</button>

                    <a href="/buscarm" class="btn">Regresar</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>