<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar usuarios</title>
</head>
<body>
    <div class="titreg">
        <header>
            <h1>Actualizar usuarios</h1>
        </header>
    </div>
    <form action="/actualizar_usuario" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos">
        <label for="correo">Correo:</label>
        <input type="text" id="correo">
        <label for="contraseña">Contraseña:</label>
        <input type="text" id="contraseña">
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>