<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}">
</head>
<body>
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                <h3>Actualizacion de usuarios</h3>
                <form action="/actualizar" method="post">
                    <div class="input-box">
                        <input type="text" placeholder="Nombre" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Apellidos" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Correo" class="input-control">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Contraseña" class="input-control">
                        <div class="input-link">
                            <a href="#" class="gradient-text"></a>
                        </div>
                    </div>
                    <button type="submit" class="btn">Actualizar</button>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>