<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleBuscar.css') }}">
</head>
<body>
    <form action="/consultar" method="post">
        <div class="input-box">
            <h1>Buscar usuario</h1>
            <input type="text" placeholder="Folio pedido" class="input-control">
        </div>
        <button type="submit" class="btn">Buscar</button>
        <table>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Rodrigo</td>
                        <td>Garcia Castro</td>
                        <td>121037801@upq.edu.mx</td>
                        <td><button class="btnD">Eliminar</button></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Ximena</td>
                        <td>Gutierrez Jimenez</td>
                        <td>1210378808@upq.edu.mx</td>
                        <td><button class="btnD">Eliminar</button></td> 
                    </tr>
                </tbody>
        </table>
    </form>
</body>
</html>