<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleBuscar.css">
    <title>Buscar pedido</title>
</head>
<body>
    <div class="titbusqu">
        <header>
            <h1>Buscar pedido</h1>
        </header>
    </div>
    <form action="/buscar_pedito" method="post">
        <input type="text" placeholder="Folio pedido">
        <button type="submit">Buscar</button>
    </form>
    <table>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Productos</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
    </table>
</body>
</html>