<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleBuscar.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        <!-- Iterar a través de los mensajes flash -->
        {% for msj in mensajes %}
            <!-- Agregar un script para mostrar el mensaje con SweetAlert -->
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        icon: 'success',
                        title: '{{ msj }}',
                        showConfirmButton: false,
                        timer: 2000 // 2 segundos
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="form-main">
    <form action="{{ url_for('buscarm')}}" method="POST">
        
        <div class="input-box">
            <h1>Buscar Producto</h1>
            <input type="text" name ="busc" placeholder="Producto" class="input-control">
        </div>
        <button type="submit" class="btn">Buscar</button>
        
        <table>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if listaUsuario %}
                    {% for alb in listaUsuario %} 
                    <tr>
                        <td> {{ alb.0 }} </td>
                        <td> {{ alb.1 }} </td>
                        <td> {{ alb.2 }} </td>
                   
                        <td> 
                            <a href=/visualizarMen/{{alb.0}}  class="btn" >Actualizar</a>
                            <a href=/confirmacionm/{{alb.0}} class="btnD">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">No se encontraron resultados</td>
                      </tr>
                    {% endif %}
                </tbody>
        </table>

        

    </form>
    </div>
    <a href="/main" class="btn">Regresar al menú principal</a>
</body>
</html>