<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleEliPac.css">
    <title>Eliminar usuarios</title>
</head>
<body>
    <h2>Eliminar pacientes.</h2>
    <form action="/eliminar_usuarios" method="post"></form>
        <label for="matricula">Matricula:</label>
        <input type="text" id="matricula" name="Matricula" required>
        <input type="submit" value="Eliminar">
</body>
</html>