<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleEliminar.css">
    <title>Eliminar usuarios</title>
</head>
<body>
    <h3>Eliminar usuarios</h3>
    <form action="/eliminar_usuarios" method="post"></form>
        <div class="input-box">
            <input type="text" placeholder="Folio pedido" class="input-control">
        </div>
        <button type="submit" class="btn">Buscar</button>
</body>
</html>