<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}">
    
</head>
<body>
    {%with mensajes= get_flashed_messages()%}
        {% if mensajes%}
            {%for msj in mensajes%}
                <h3> {{ msj }} </h3>
            {%endfor%}
        {% endif %}
    {%endwith%}
    <center>
    <h2>Menú Principal del Administrador</h2>
</center>
        
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                
       
        <form action="{{ url_for('buscarm') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Consutar Menú</button>
        </form>     
        <form action="{{ url_for('vista_prev') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Vista previa</button>
        </form>                 
        <form action="{{ url_for('nuevo') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Nuevo Producto</button>
        </form>

        <form action="{{ url_for('buscar') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Buscar Pedidos</button>
        </form>

        <form action="{{ url_for('buscaru') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Consultar Usuarios</button>
        </form>

        <form action="{{ url_for('registroa') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Nuevo Administrador</button>
        </form>
        <form action="{{ url_for('cerrar') }}" method="GET">
            <button type="submit" class="btn iniciar-sesion-btn">Cerrar Sesión</button>
        </form>

  

            </div>
        </div>
    </div>  
        
    
</body>
</html>