<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMenu.css') }}">
</head>
<body>
    <h1>Menu</h1>
    <form action="/menu" method="post">
        <div class="wrap column-4 columns">

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/latte.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Latte</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$25</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/pay.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Pay</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$25</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/cheesecake.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Cheesecake</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$25</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/matcha.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Matcha</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$30</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/espresso.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Espresso</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$30</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/hotdog.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Hot dog</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$30</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/frappe.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Frappe</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$50</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/hamburguesa.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Hamburguesa</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$50</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/sandwitch.jpg') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Sandwitch</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$50</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarjeta-caf" style="background: url('{{ url_for('static', filename='img/pizza.png') }}') center; background-size: cover;">

                <div class="wrap-text_tarjeta-caf">
                    <h3>Pizza</h3>
                    <div class="cta-wrap_tarjeta-caf">
                        <div class="precio_tarjeta-caf">
                            <span>$120</span>
                        </div>
                        <div class="cta_tarjeta-caf">
                            <button type="submit" class="btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</body>
</html>