<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Método pago</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMetodo.css') }}">
</head>
<body>
    <div class="titmet">
        <header>
            <h1>Método pago</h1>
        </header>
    </div>
    <form action="/met" method="post">
    <div class="select">
        <select id="metodo_pago">
            <option selected disabled>Metodo de pago</option>
            <option value="tarjeta">Tarjeta credito/debito</option>
            <option value="efectivo">Efectivo</option>
        </select>
    </div>
    <button type="submit" class="btn">Guardar</button>
    </form>
</body>
</html>