<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}">
</head>
<body>
    {%with mensajes= get_flashed_messages()%}
        {% if mensajes%}
            {%for msj in mensajes%}
                <h3> {{ msj }} </h3>
            {%endfor%}
        {% endif %}
    {%endwith%}
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                
<h1>Registro de Nuevo Producto</h1>
<form action="/nuevo" method="post" enctype="multipart/form-data">
    <div class="input-box">
        <input type="text" Name="txtProd" placeholder="Nombre del Producto" class="input-control" required>
    </div>
    <div class="input-box">
        <input type="number" Name="txtPrec" placeholder="Precio" class="input-control" required>
    </div>
    
    <div>
        <label for="imagen_producto">Agregar Imagen del Producto</label>
        <input type="file" id="imagen_producto" name="imagen_producto" accept="image/*" required>
    </div>
    <div>
        <button type="submit" class="btn">Registrar Producto</button>
    </div>
    <a href="/main" class="btn">Regresar al menú principal</a>
</form>



</body>
</html>