html{
    font-family: system-ui;
}
:root{
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --tex-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(200, 54%, 12%);
    --glass-bg-color: hsl(0, 00%, 100%, 0.05);
    --border-color: hsl(0, 0%, 100%, 0.25);
    --blur: blur(10px);
    --buton-hover-color: hsl(0, 0%, 0.3);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-bg-color);
    color: var(--tex-white);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
}
body::after,
body::before{
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}
body::before{
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color: var(--violet);
    right: 0;
    top: 0;
    transform: translate(50%);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
}
select::-ms-expand{
    display: none;
}
.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    border-radius: 10;
}
select{
    flex: 1;
    padding: 0, 0.5em;
    cursor: pointer;
}
.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.btn{
    height: 30px;
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--lead));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 30px;
}
#tarjeta_fields {
    display: none;
}

#tarjeta_fields label {
    display: block;
    margin-bottom: 5px;
}

#tarjeta_fields input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#tarjeta_fields input[type="text"] + br {
    display: none;
}